body {
  display: grid;
  place-items: center;
  margin-top: 4rem;
  font-size: 1.2rem;
}

#temp-today {
  font-size: 2.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.--hidden {
  position: absolute;
  visibility: hidden;
}
